<div class="container-fluid">
    <div class="row-g3">
        

    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<label for="" class="label-control">USERNAME</label>
<input type="text" class="form-control" name="username" [(ngModel)]="username">
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<label for="" class="label-control">PASSWORD</label>
<input type="password" class="form-control" name="username" [(ngModel)]="password"><br>
</div><div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<button class="btn btn-success" (click)="read()">Submit</button>
</div>

</div>

        </div>

