
<div class="container-fluid">
    <div class="row">
        <app-navbar></app-navbar>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">RollNo</th>
                    <th scope="col">AdmissionNo</th>
                    
                    <th scope="col">Department</th>
                    <th scope="col">College</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Address</th>
                    <th scope="col">Parent Name</th>
                    <th scope="col">Parent Mobile</th>
                    <th scope="col">Blood Group</th>
                   
                   
                    
                  </tr>
                </thead>
                <tbody>
                    <tr class="table-primary" *ngFor="let i of data">
                     
                     
                      <td>{{i.Name}}</td>
                      <td>{{i.RollNo}}</td>
                      <td>{{i.AdmissionNo}}</td>
                   
                      <td>{{i.Department}}</td>
                      <td>{{i.College}}</td>
                      <td>{{i.DOB}}</td>
                      <td>{{i.Address}}</td>
                      <td>{{i.ParentName}}</td>
                      <td>{{i.Mobile}}</td>
                      <td>{{i.Blood}}</td>
                  
                      </tr>
                    </tbody>
                </table>


        </div></div></div>